*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    overflow: hidden;
}


.admin-container{
    background: url('../img/bg-img/admin-login.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.form-container{
    min-width: 50%;
    box-shadow: 20px 20px 50px rgba(0,0,0,0.5);
    border-radius: 30px;
    backdrop-filter: blur(50px);
    background: rgba(255,255,255,0.1);
    padding: 5rem;
}

label{
    color: white;
}

.form-input{
    background-color: #f6f8fc;
    border-radius: 5px;
    border: 1px solid #e7e7e7;
    height: 40px;
}


.logo-img{
    height: 20px;
}

.oneMusic-btn{
    background-color: #fff;
    border: 0.5px solid black;
    font-weight: 600;
    border-radius: 10px;
}

.oneMusic-btn:hover{
    color: #fff;
    background-color: #000;
}