@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Buhid&family=Reem+Kufi+Fun&family=Reem+Kufi+Ink&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Reem Kufi Ink', sans-serif;
}

html, body{
    overflow: hidden;
    height: 100%;
}

.player-container{
    height: 100px;
    right: 0;
    left: 0;
    bottom: -100px;
    background-color: #313131;
    transition: 0.4s all;
}

.song-img{
    width: 70px;
    height: 70px;
}

.cursor-pointer{
    cursor: pointer;
}

.up{
    bottom: 0;
}